@model Computer;

<div>
    <h1>Criar computador</h1>
    <form asp-action="Update">
        <input asp-for="@Model.ID" type="hidden" class="form-control">
        <label asp-for="@Model.Ram" class="form-label">
            RAM
        </label>
        <input class="form-control" asp-for="@Model.Ram">

        <label asp-for="@Model.Processor" class="form-label">
            Processador
        </label>
        <input asp-for="@Model.Processor" class="form-control">

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
