@model Lab;

<h1>@Model.Name</h1>

<p>ID: @Model.ID</p>
<p>Nome: @Model.Name</p>
<p>Bloco: @Model.Block</p>
<p>Número: @Model.Number</p>

<a asp-action="Update" asp-route-id="@Model.ID">Atualizar</a>
<a asp-action="Delete" asp-route-id="@Model.ID">Excluir</a>